<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>treasure_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,110}</string>
                <key>spriteSourceSize</key>
                <string>{117,110}</string>
                <key>textureRect</key>
                <string>{{0,0},{117,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,109}</string>
                <key>spriteSourceSize</key>
                <string>{117,109}</string>
                <key>textureRect</key>
                <string>{{117,0},{117,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{0,110},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,129}</string>
                <key>spriteSourceSize</key>
                <string>{127,129}</string>
                <key>textureRect</key>
                <string>{{119,110},{127,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,127}</string>
                <key>spriteSourceSize</key>
                <string>{149,127}</string>
                <key>textureRect</key>
                <string>{{0,239},{149,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>treasure.png</string>
            <key>size</key>
            <string>{246,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ec00da054ce0805f1fc5535588a891b:8c9e848ae714bc4695f7f31e2d77a3b6:49b77462aec7c47f7a9b277a07c02b82$</string>
            <key>textureFileName</key>
            <string>treasure.png</string>
        </dict>
    </dict>
</plist>
